.DS_Store
dist/electron/*
dist/web/*
build/*
.p2p/*
data/*
!build/icons
coverage
node_modules/
npm-debug.log
npm-debug.log.*
thumbs.db
!.gitkeep
key-house-win32-x64/*
*.zip
*.exe
*.key
*.log
test.js
*.lock
*.lock
