.create-box {
  $c-tb: 20;
  $c-lr: 15;
  $search-w: 270;
  $minH:600;
  width: 100%;max-width: 800px;height: size($minH);padding: size($c-tb) size($c-lr) size($c-tb) size($search-w + ($c-lr * 2));margin: auto;position: relative;
  &.off-create-box {
    padding: size($c-tb) size($c-lr);
  }
  .create-search-box {
    width: size($search-w);position: absolute;top: size($c-tb);bottom: size($c-tb);left: size($c-lr);border-right: 1px solid #ddd;
    .create-search-bg {
      $search-t: 35;
      width: 100%;height: 100%;position: relative;
      .search-input {
        position: absolute;top:0;left: 0;right: size($c-lr);
      }
      .search-cont {
        position:absolute;top: size($search-t);left:0;right: size($c-lr);bottom:0;
        .list {
          width: 100%;height: 100%;overflow: auto;
          .item {
            width: 100%;padding: 10px 0;margin-right: 0;
            .el-checkbox__inner {
              border-radius: 100%;width: 18px;height: 18px;
              &::after {
                left: 7px;top: 3px;width: 4px;height: 8px;
              }
            }
          }
        }
      }
      .add-friend {
        position: absolute;left:0;right: size($c-lr);bottom:0;font-size: 12px;cursor: pointer;color:#409EFF;
      }
    }
  }
  .create-selected-box {
    position: absolute;top: size($c-tb);bottom: size($c-tb);left: size($search-w + $c-lr * 2);right: size($c-lr);
    .create-selected-bg {
      width: 100%;height:100%;position: relative;
      .selected-input {
        margin-bottom: 10px
      }
      .selected-cont {
        height: size($minH - 140);overflow:auto;
        .list {
          width: 100%;
          .item {
            margin-bottom: 10px;
          }
        }
      }
      .create-selected-btn {
        position: absolute;left: 0;right: 0;bottom: 0;
      }
    }
  }
}