@import './base.scss';
// @import './css.scss';

.d-content-view {
  width: 100%;
  .h3 {
    font-size: $text-lg;line-height: size(36);margin-bottom: size(20);
  }
}

.c-form-box {
  width: 600px;margin:30px auto;padding: 60px 25px;border-radius: 6px;
  .el-form-item__label {
    line-height: 28px;padding-bottom: 0;
  }
}

.c-form-box-sm {
  width: 100%;
  .el-form-item {
    margin-bottom: size(10);
    .el-form-item__label {
      height: size(30);
    }
  }
}

.n-list-box {
  width: 100%;min-height: 80%;padding: 30px 15px; margin:15px 0;
  .item {
    width: 100%;border-bottom: 1px solid #eee;padding:8px 0;font-size: 14px;color: #333;cursor: pointer;
    .p2{
      color:#999;
    }
  }
}

.tab-box {
  .el-tabs__item {
    color: $color-gray;
    &.is-active {
      color: $color-primary;
    }
  }
}

.appTitle {
  font-size: $text-normal;color:$color-black;font-weight:bold;
  span {
    color: $color-primary;margin-right: size(5);
  }
}
.user-form-box {
  width: size(300);
  .user-form-title {
    .logo{
      height: size(30);
      img {
        height: 100%;
      }
    }
    .back {
      font-size: $text-normal;color: $color-gray;margin: size(20) 0;display: block;
    }
    .title {
      font-size:$text-lg;color: $color-black;font-weight: bold;margin-bottom: size(20);
    }
  }
  .user-form-input {
    width: 100%;
    .el-form-item__label {
      padding-bottom: 0;line-height: size(35);font-size: $text-normal;color: $color-gray;
    }
    .btn {
      width: 100%;height: size(50);font-size: $text-md;font-weight: bold;
    }
  }
}

.btn-primary {
  background: $color-primary;color: #fff;border: size(1) solid $color-primary;
  &:hover {
    background: $color-primary;border: size(1) solid $color-primary;
  }
  &:focus {
    background: $color-primary;border: size(1) solid $color-primary;
  }
  &.is-disabled {
    opacity: .5;
  }
}

// 夜间模式
.night {
  .appTitle {
    color: #fff;
  }
  .btn-primary {
    
  }
  .user-form-box {
    .user-form-title {
      .back, .title  {
        color: #fff;
      }
    }
    .user-form-input {
      .el-form-item__label {
        color: #999;
      }
      .btn {
        background: $color-primary;border-color: $color-primary;
      }
    }
  }
}