.header-top-box {
  width:100%;height:size(70);position:absolute;top:0;left:0;background: #f1f1f1;z-index: 2000;
  .header-logo {
    min-width:40px;width:300px;height: size(35);padding-left: 15px;
    .logoImg{
      width:100%;height: 100%;
      img {
        height: 100%
      }
    }
  }
  .header-top-account {
    font-size: 14px;
    .item {
      padding: 0 10px;cursor: pointer;
      &.active {
        background: $color-primary;color:#fff;border-radius: 5px;
      }
    }
  } 
  .header-top-nav {
    height: 100%;font-size: $text-normal;color: $color-black;font-weight:bold;
    .item {
      height: 100%;padding: size(8) size(25);cursor: pointer;border-bottom: 1px solid transparent;
      &.active {
        // background: $color-primary;color: #fff;
        color: $color-primary;border-bottom: 1px solid $color-primary;background: rgba(39,98,224,.1);
      }
      &:hover {
        // background: $color-primary;color: #fff;
        color: $color-primary;border-bottom: 1px solid $color-primary;background: rgba(39,98,224,.1);
      }
    }
  }
  .header-top-set-box {
    height: 100%;padding-right:15px;
    .header-top-dn {
      $dn-h: 28;
      width: size(50);height: size($dn-h);border: size(1) solid #ddd;border-radius: size(15);position: relative;margin: 0 size(15);
      .round {
        width: size($dn-h - 2);height: size($dn-h - 2);line-height: size($dn-h - 2);text-align:center;display: inline-block;background: #fff;color: $color-primary;border-radius: 100%;position: absolute;top:size(0);
      }
      .day {
        left: 0;
      }
      .moon {
        right: 0;
      }
    }
    .header-top-user {
      $hImg: 30;
      position: relative;
      .headImg {
        width: size($hImg);height: size($hImg);border-radius: 100%;cursor: pointer;overflow: hidden;
        img {
          height: 100%;
        }
      }
    }
  }
}

#boxContent_box{width:100%;position:absolute;top:70px;right:0;bottom:0px;left:0;overflow: auto;overflow-x: hidden;background: #fff;}

.night {
  .header-top-box {
    background: $night-bg-color-sm;
    .header-top-account {
      color: #fff;
    }
    .header-top-set-box {
      .header-top-nav {
        color: #fff;
      }
    }
  }
  #boxContent_box {
    background: $night-bg-color;
  }
}