body{display:block;padding:0;margin:0;}
*{box-sizing:bor-border;}
#app, .bg{overflow: hidden;min-width:100%;min-height:100%;min-width:100vw;min-height:100vh;}
.boxContent{overflow: hidden;width:100%;height:100%;width:100vw;height:100vh;position:relative;}

.boxConntent1{width:100%;height:100%;position:relative;}
/* .headerTop_box{width:100%;height:70px;position:absolute;top:0;left:0;padding:0 2%;background: #fff;border-bottom:2px solid #eee;} */
.headerTop_box{width:100%;height:70px;position:absolute;top:0;left:0;padding:0 2%;background: #fff;}
.logo{min-width:40px;max-width:350px;height: 40px;}
.logo .logoImg{width:100%;height: 100%;}
.logo img{height: 100%}
.headerTop_serBox{width:215px;height:40px;position: relative;}
.headerTop_serBox .wifi{width: 13px;height:10px;position: absolute;left:28px;top:16px;}
.headerTop_serBox .select{width:100%;height:100%;border-radius:20px;padding:0 52px;color:#666666;position: absolute;top:0;left: 0;background:none;border:1px solid #706e9f;}
.headerTop_serBox .select .el-input__inner{border: none;height: 38px;padding:0;}
.headerTop_serBox .select .el-input__suffix{display:none}
.headerTop_serBox .arrow{width:0;height:0;display:block;border-top:6.5px solid #706e9f;border-left:4px solid transparent;border-right:4px solid transparent;position: absolute;top:19px;right:40px;}

.headerTop_langBox{width: 100px;}
.headerTop_langBox .el-input__inner{border:none;}

.headerTop_setBox{width:50%;}
/* .headerTop_setBox ul{width:100%;} */
.headerTop_setBox ul li{padding-left:15px;}
.headerTop_setBox ul li:first-child{padding-right: 10px;padding-left:0;border-right:1px solid #706e9f;min-width: 160px;}
.headerTop_setBox ul li:first-child .setBtn{width: 100%;}
.headerTop_setBox ul li .setBtn{width:16px;height:16px;}
.headerTop_setBox ul li .setBtn img{max-width:100%;max-height:100%;}
.headerTop_setBox ul li .address{font-size:14px;color:#392d6d;width:100%;white-space: nowrap;text-align:right;padding-right:10px;overflow: hidden;text-overflow: ellipsis;}

/* #boxContent_box{width:100%;position:absolute;top:70px;right:0;bottom:65px;left:0;background:none;overflow: auto;overflow-x: hidden;} */
#boxContent_box{width:100%;position:absolute;top:70px;right:0;bottom:0px;left:0;background:none;overflow: auto;overflow-x: hidden;}

.footerBottom_box{width: 100%;height:65px;background:#333333;position: absolute;bottom:0;left:0;}
.footerBottom_box li{color:#fff;font-size:12px;}
.footerBottom_box li:nth-child(2){margin:0 45px;}

.supCoinView_container{width:970px;margin: auto;background:#eee;}

.walletBtn_box{width:100%;padding:116px 0;}
.walletBtn_box ul{text-align:center;}
.walletBtn_box ul li{display:inline-block;}
.walletBtn_box ul li .icon{width:15px;height:14px;margin-right: 7px;}
.walletBtn_box ul li .icon img{width:100%;height:100%;display:block;}
.walletBtn_box ul li .btnStyle{width:248px;height:40px;font-size:16px;margin:0 30px;}
.walletBtn_box ul li .btnBlue{background: #2f7cd7;color:#fff;}
.walletBtn_box ul li .btnWhite{background:#fff;color:#2f7cd7;}

.supCoinView_box{width:100%;background:#fff;margin:0 auto 63px;overflow:hidden;padding:0 48px;}
.supCoinView_title{width:100%;text-align:center;margin:35px 0 5px;}
.supCoinView_title .title{font-size:30px;line-height:52px;}
.supCoinView_list{width:100%;}
.supCoinView_list ul{overflow: hidden;}
.supCoinView_list .item{position:relative;text-align:center;float: left;padding:0px 0 30px;margin-top:50px;border-bottom:2px solid #eee;overflow: hidden}
.supCoinView_list .item .iconImg{width:67px;height:67px;margin:auto;}
.supCoinView_list .item .iconImg img{display: block;width:100%;height:100%;}
.supCoinView_list .item .title{font-size:16px;color:#999;line-height:24px;margin-top:17px;font-weight:bold;white-space: nowrap}
.supCoinView_list .item .line{width:2px;height:48px;background:#eeeeee;position:absolute;top:10px;right:0;}
.supCoinView_list .item:nth-child(4n) .line{display: none;}
/* .supCoinView_list .item:nth-last-child(1),.supCoinView_list .item:nth-last-child(2),.supCoinView_list .item:nth-last-child(3),.supCoinView_list .item:nth-last-child(4){border: 2px solid transparent;} */
.supCoinView_list .item:nth-child(1),.supCoinView_list .item:nth-child(2),.supCoinView_list .item:nth-child(3),.supCoinView_list .item:nth-child(4){border-bottom:2px solid #eee;}

.navBox{padding-left:230px;}
.navLeft_box{width:230px;height:100%;background:#004a7c;position:absolute;bottom:0;left:0;padding-top:32px;}
.navLeft_box ul li{width:100%;margin-bottom:10px;}
.navLeft_box ul li .item{width:100%;height:37px;padding-left:20px;color:#fff;font-size:16px;}
.navLeft_box ul li .router-link-active{border-left:2px solid #fff;background:#00395f;}
/* .navLeft_box ul li .currBg{border-left:2px solid #fff;background:#00395f;} */
.navLeft_box ul li .item .icon{width:16px;height:16px;margin-right:10px;}
.navLeft_box ul li .item .icon img{max-width: 100%;max-height: 100%;display: block;}

.navContent_box{width:100%;height:100%;overflow: auto;background:#fff;position: relative;overflow-x: hidden;}

.contentHeader_box{width:100%;height:63px;background:#f0f9ff;padding:0 25px;}
.contentHeader_title{font-size:24px;color:#004a7c;}

.myAssetsSear_box{width:100%;padding:10px 25px 0;}
.myAssetsSear_input{width:146px;height:30px;position:relative;}
.myAssetsSear_input input{width:100%;height:100%;border:1px solid #999;padding:0 34px 0 14px;}
.myAssetsSear_input .searchIcon{width:34px;height:100%;position: absolute;top:0;right:0;padding:4px 0;cursor:pointer;}
.myAssetsSear_input .searchIcon .icon{width:100%;height:100%;border-left:1px solid #dddddd;}

.myAssetsTable_box{width:100%;padding:0px 25px 25px;background:#fff;}
.myAssetsTable_box table{width:100%;}
.myAssetsTable_box table thead tr{border-bottom:2px solid #ebebeb}
.myAssetsTable_box table thead tr th{font-size:14px;color:#004a7c;line-height:21px;padding:4px 10px;text-align:center;vertical-align:middle;}
.myAssetsTable_box table thead tr th:first-child{text-align:left;}
.myAssetsTable_box table tbody tr{border-bottom:2px solid #ebebeb;}
.myAssetsTable_box table tbody tr td{height:36px;vertical-align:middle;text-align:center;padding:4px 10px;}
.myAssetsTable_box table tbody tr td:last-child{width:165px;padding:4px 0;}
.myAssetsTable_box table tbody tr td .logoT{width:20px;height:20px;overflow: hidden;margin-right:6px;}
.myAssetsTable_box table tbody tr td .logoT img{width: 100%;max-width:100%;max-height:100%;display:block;}
.myAssetsTable_box table tbody tr td .coinChat{width: 20px;height: 20px;line-height:18px;text-align:center;border-radius:100%;border:1px solid #409EFF;color:#409EFF;font-size: 14px;margin-right:6px;}
.myAssetsTable_box table tbody tr td .title{width:102px;text-align:left;}
.myAssetsTable_box table tbody tr td .span{font-size:14px;color:#004a7c;font-weight:bold;}
.myAssetsTable_box table tbody tr td .p{font-size:14px;color:#999999;}
/* .myAssetsTable_box table tbody tr td .setBtn{width:66px;height:28px;border:1px solid #dddddd;display:inline-block;line-height:28px;cursor:pointer;text-align:center;color:#004a7c;font-size:12px;margin:3px 0 3px 14px;} */
.myAssetsTable_box table tbody tr td .setBtn{height:28px;display:inline-block;line-height:28px;cursor:pointer;text-align:center;color:#004a7c;font-size:12px;padding:0px 6px;}
/* .myAssetsTable_box table tbody tr td .setBtn2{width: 66px;} */

.biticonSelect_box{width:390px;height:40px;position: relative;}
.biticonSelect_box .select{width:100%;height:100%;border:1px solid #004a7c;padding:0 54px 0 42px;background:none;position:absolute;top:0;left:0;font-size:20px;}
.biticonSelect_box .select .el-input__inner{border:none;background:none;padding: 0;}
.biticonSelect_box .select .el-input__suffix{display: none;}
.biticonSelect_box .logo{width:20px;height:20px;position:absolute;top:10px;left:14px;}
.biticonSelect_box .logo img{max-width: 100%;max-height: 100%;display: block;}
.biticonSelect_box .arrow{width:54px;height:26px;border-left:1px solid #004a7c;position:absolute;top:7px;right:0;}
.biticonSelect_box .arrow .i{width:0;height:0;border-top:7px solid #004a7c;border-left:4px solid transparent;border-right:4px solid transparent;display:block}

.transferBtn_box{width:100%;padding:15px 25px 8px;background: #f0f9ff}
/* .transferBtn_btn{width:100%;border-bottom:1px solid #dddddd;padding-bottom:8px;} */
/* .transferBtn_btn{width:100%;border-bottom:1px solid #dddddd;padding-bottom:8px;} */
.transferBtn_btn .tranBtn{width:160px;height:37px;border:1px solid #3078d7;margin-right:10px;font-size:16px;color:#3078d7;position:relative;}
.transferBtn_btn .tranBtn .arrow{width:0;height:0;display:block;border-top:8px solid #3078d7;border-left:4px solid transparent;border-right:4px solid transparent;position:absolute;bottom:-8px;left:76px;display:none;}
/* .transferBtn_btn .tranBtn.router-link-active{background:#3078d7;color:#fff;}
.transferBtn_btn .tranBtn.router-link-active .arrow{display: block;} */
.transferBtn_btn .tranBtn.currBg{background:#3078d7;color:#fff;}
.transferBtn_btn .tranBtn.currBg .arrow{display: block;}

.transferCont_absolute{padding:0 35px;position: absolute;top:80px;left:0;right:0;bottom:0;padding-bottom:22px;background:#fff;}
.transferCont_box{width:100%;height:100%;border-bottom:1px solid #ddd;overflow: auto;overflow-x: hidden;}
/* 
.receiveContent_box{width:100%;padding:0 21px 0 0;margin:10px 0 0px;padding-bottom:21px}
.receiveAddress_box{width:100%;border-bottom:1px solid #ddd;}
.receiveAddress_box .el-form--label-top .el-form-item__label{padding:0;line-height: 24px;}
.receiveAddress_pwd{width:100%;height:37px;position:relative;}
.receiveAddress_pwd .input{width:100%;height:100%;text-align:center;font-size:28px;font-weight:bold;border:1px solid #dddddd;}
.receiveAddress_pwd .amount{width:100%;height:100%;font-size:20px;border:1px solid #dddddd;padding-right:70px;}
.receiveAddress_pwd .currency{width:70px;height:100%;text-align:center;line-height:37px;position:absolute;top:0;right:0;}
.receiveAddress_btn{width:100%;padding:0px 0 21px;text-align:center;}
.receiveAddress_btn .el-button--primary {color: #FFF;background-color: #409EFF;border-color: #409EFF;}
.receiveAddress_btn .btn{width:160px;height:38px;color:#fff;font-size:16px;padding-left:0;padding-right:0;}
.receiveAddress_btn .btn .icon{width:16px;height:16px;margin-right:8px;}
.receiveAddress_btn .btn .icon img{width: 100%;height: 100%;}
.receiveAddress_btn .blue{background:#3078d7;margin-right:12px;}
.receiveAddress_btn .cyan{background:#285b7e;} */


.qrcodeCont_box{padding:0px;}
.qrcodeCont_title{text-align:center;font-size:16px;margin-top:20px;}

.tableHistory_box{width:100%;}
.tableHistory_title{margin-top:24px;}
.tableHistory_title .title{font-size:16px;line-height:24px;}
.tableHistory_table{width:100%;margin-top:10px;margin-bottom:50px;}
.tableHistory_table table{width:100%;}
.tableHistory_table table thead tr th{color:#999999;}
.tableHistory_table table tbody tr td{color:#333;line-height:24px;padding: 4px 0;}
.tableHistory_table table tbody tr td .red{color:#ff5959;}
.tableHistory_table table tbody tr td .cell{font-size:14px!important;}

.moreInfo_box{width:100%;position:relative;}
/* .moreInfo_box .moreInfo_hax{width:100%;max-width:300px;cursor:pointer;} */
.moreInfo_box .el-collapse-item__header{width:100%;cursor:pointer;display: block;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;border: none;font-size:14px!important;padding-right: 30px;}
.moreInfo_box .el-icon-arrow-right{position: absolute;top:17px;right: 0;}
.moreInfo_box .el-collapse-item__content{padding: 0;}
.moreInfo_box.el-collapse{border: none}
.moreInfo_box .list{width:100%;background:#fff;border:1px solid #eee;}
.moreInfo_box .list li{width:100%;word-break: break-all;border-bottom:1px solid #eee;padding:10px;line-height: 24px;}
.moreInfo_box .list li:last-child{border-bottom:none}
/* .moreInfo_box:hover .list{display:block;z-index:99;} */
.moreInfo_box .list li:hover{background: #eee;}
.moreInfo_box .arrow{width:11px;height:6px;background:url('/static/img/Expand.svg') center no-repeat;background-size:100%;display: block;position:absolute;top:17px;right:0;margin-top:-3px;}

.contView_box{width:100%;background:#fff;overflow:hidden;padding:0 48px 63px;position: absolute;top:88px;right:0;left: 0;bottom: 0;overflow: auto;overflow-x: hidden;}
.dappView_title{width:100%;text-align:center;margin:35px 0 5px;}
.dappView_title .title{font-size:30px;line-height:52px;}
.dappView_list{width:100%;}
.dappView_list ul{overflow: hidden;}
.dappView_list ul li{width:20%;position:relative;text-align:center;float: left;padding:0px 0 43px;margin-top:50px;border-bottom:2px solid #eee;overflow: hidden;cursor: pointer;}
.dappView_list ul li .iconImg{width:67px;height:67px;margin:auto;}
.dappView_list ul li .iconImg img{display: block;width:100%;height:100%;}
.dappView_list ul li .title{font-size:16px;color:#999;line-height:24px;margin-top:4px;font-weight:bold;}
.dappView_list ul li .line{width:2px;height:48px;background:#eeeeee;position:absolute;top:10px;right:0;}
.dappView_list ul li:nth-child(5n) .line{display: none;}
/* .dappView_list ul li:nth-last-child(1),.dappView_list ul li:nth-last-child(2),.dappView_list ul li:nth-last-child(3),.dappView_list ul li:nth-last-child(4),.dappView_list ul li:nth-last-child(5){border:2px solid transparent;}
.dappView_list ul li:nth-child(1),.dappView_list ul li:nth-child(2),.dappView_list ul li:nth-child(3),.dappView_list ul li:nth-child(4),.dappView_list ul li:nth-child(5){border-bottom:2px solid #eee;} */

.lockView_list .item{padding-bottom:20px;}
.dappView_btn{width: 100%;height: 44px;}
.dappView_btn .setBtn{width:66px;height:24px;border:1px solid #dddddd;display:inline-block;line-height:24px;text-align:center;color:#004a7c;font-size:12px;margin:20px 0 0 14px;cursor:pointer}

/* .newwallet_box{width:1280px;height:100%;margin:15px auto;background:#fff;padding:0 15px;}
.newWallet_title{width:100%;height:138px;border-bottom:2px solid #eee;}
.newWallet_title .title{font-size:30px;color:#333;} */

.register_box {
  width: 600px;background: rgba(0, 0, 0, .8);
}
.register_title {
  width: 100%;color: #fff;font-size: 24px;padding: 30px 0;border-bottom: 1px solid #fff;font-weight: bold;
}
.createInfo_box{width:100%;padding:38px 20% 30px;}
.createInfo_box .el-form-item__label {color:#fff;}
.createInfo_input{width:590px;margin:auto;}
.createInfo_input .input{width:100%;height:33px;border:2px solid #2f7cd7;font-size:16px;font-weight:bold;text-align:center;}
.createInfo_danger{width: 100%;text-align:center;font-size:16px;font-weight:bold;color:#d86464;margin-top:12px;}
.createInfo_btn{width:100%;margin-top:20px;}
.createInfo_btn .btn{width:248px;height:40px;border-radius:0;background:#2f7cd7;color:#fff;font-size:16px;}

.createInfo_tip{width:100%;text-align:center;color:#999999;padding: 0 20px 60px;}
.createInfo_tip .h1{font-size:16px;line-height: 24px;}
.createInfo_tip .h2{font-size:16px;font-weight:bold;line-height:24px;padding: 20px 0;}
.createInfo_tip .h3{font-size:14px;line-height:21px;}


.contTip_box{width:100%;padding:30px;}
.contTip_title{text-align:center;padding:0px 0;}
.contTip_title .title{font-size:36px;color:#333;height:138px;width:100%;border-bottom: 2px solid #eee;}
.contTip_title .title span{color:#c7254e;background-color: #f9f2f4;padding:0 5px;}
.contTip_title .p{font-size:16px;color:#333;font-weight:300;text-align:center;}
.contTip_btn{margin-top:50px;}
.contTip_btn .btn{width:482px;height:40px;background:#2f7cd7;color:#fff;border-radius: 0;}
.contTip_btn .red{width:260px;background:#ea4b40;}
.contTip_p{font-size:14px;color:#999999;width:100%;text-align:center;padding:30px 0}

.selectType_box{width:100%;padding:30px 0;position: relative;}
.selectType_type{width:282px;height:100%;padding-left:0px;display:flex;}
.selectType_type ul li{width:100%;padding:0px 0;}
.selectType_type ul li .input{display:none;}
.selectType_type ul li .labelStyle{cursor: pointer;margin: 30px 0;}
.selectType_type ul li .labelStyle .radioBox{width: 12px;height: 12px;margin-right:10px;}
.selectType_type ul li .labelStyle .radio{width:12px;height:12px;border:2px solid #666;border-radius: 100%;display: block}
.selectType_type ul li .labelStyle .p{font-size:16px;font-weight:bold;color:#666;line-height:24px;white-space:nowrap;}
.selectType_type ul li input:checked + .labelStyle .radio{width:8px;height:8px;border:2px solid #2f7cd7;box-shadow: 0px 0px 4px #2f7cd7;}
.selectType_type ul li input:checked + .labelStyle p{color:#2f7cd7}

.selectAddr_type{width:100%;padding:30px 0;}
.selectAddr_type ul li{width:100%;padding:15px 0;}
.selectAddr_type ul li .input{display:none;}
.selectAddr_type ul li .labelStyle{cursor: pointer;}
.selectAddr_type ul li .labelStyle .radioBox{width: 12px;height: 12px;margin-right:10px;}
.selectAddr_type ul li .labelStyle .radio{width:12px;height:12px;border:2px solid #666;border-radius: 100%;display: block}
.selectAddr_type ul li .labelStyle .p{font-size:16px;font-weight:bold;color:#666;line-height:24px;white-space:nowrap;}
.selectAddr_type ul li input:checked + .labelStyle .radio{width:8px;height:8px;border:2px solid #2f7cd7;box-shadow: 0px 0px 4px #2f7cd7;}
.selectAddr_type ul li input:checked + .labelStyle p{color:#2f7cd7}

.selectType_content{width:968px;border-left:2px solid #eeeeee;min-height: 300px;}
.selectType_contentBox{width:100%;margin:45px auto;}
.selectType_contentBox .el-radio{display: block;height: 36px;}
.selectType_contentBox .el-form--label-top .el-form-item__label{padding:0;line-height: 24px;}
/* .selectType_contentBox .el-form-item{margin-bottom: 0;} */
/* .selectType_keystore{} */
.selectType_contTitle{width:100%;text-align:center;}
.selectType_contTitle .title{font-size:24px;color:#333;}
.selectType_contTip{width: 80%;padding: 10px;border: 1px solid #ea4b40;background: rgba(255,68,8,.1);color: #ea4b40;margin: auto;}
.selectType_KSbtn{width:100%;height:33px;position:relative;text-align:center;line-height: 33px;background:#163a65;cursor: pointer;}
.selectType_KSbtn .p{color:#fff;font-size:16px;font-weight:bold;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;padding:0 15px;}
.selectType_KSbtn .file{position:absolute;top:0;left:0;width:100%;height:100%;opacity: 0;cursor: pointer;}

/* .selectType_contTnput{width:100%;height:33px;margin:auto;margin-top:25px;}
.selectType_contTnput .input{width:100%;height:100%;border:2px solid #2f7cd7;font-size:16px;font-weight:bold;text-align:center;} */

.backupCont_box{width:100%;margin-top:25px;}
.backupCont_box .title{font-size:16px;color:#333;}
.backupCont_box .backupCont_input{width:100%;height:37px;position:relative;margin-bottom: 30px;}
.backupCont_box .backupCont_input .input{width:100%;height:100%;text-align:center;font-size:28px;font-weight:bold;border:1px solid #dddddd;}
.backupCont_box .backupCont_input .input1{text-align:left;padding-right:56px;}
.backupCont_box .backupCont_input .eyesBox{width:56px;height:100%;position: absolute;top:0;right:0;padding:7px 0;cursor:pointer;}
.backupCont_box .backupCont_input .eyesBox .eyes{width:100%;height:100%;border-left:1px solid #ddd;}
.backupCont_box .backupCont_input .eyesBox .eyes img{max-width: 100%;max-height: 100%;}
.backupCont_box .tip{font-size:16px;color:#333;margin-bottom:10px;}
.backupCont_box .btn{width:100%;height:36px;background:#163a65;color:#fff;font-size: 16px;border-radius: 0;display: block;text-align: center;line-height: 36px;}

.backupInfo_box{padding:0 0 63px;}
.backupInfo_top{padding:0 48px 50px;border-bottom:5px solid #eee;}
.qrcodeView_box{width:100%;padding-top:15px;}
.qrcodeView_box ul{overflow: hidden;}
.qrcodeView_box ul li{width:50%;float: left;}
.qrcodeView_cont{width:300px;height:320px;border:1px solid #ddd;margin:auto;padding:0 15px;position: relative;}
.qrcodeView_cont .title{font-size: 16px;line-height:24px;color:#333;text-align:center;margin:8px auto;}
.qrcodeView_black{width:300px;height:280px;background:#000;position: absolute;left:0px;bottom:0;z-index: 2;display:block;}
.qrcodeView_eyes{width:55px;height:38px;position: absolute;bottom:0px;right:-55px;border:1px solid #ddd;padding:10px 15px;}
.qrcodeView_eyes img{max-width: 100%;max-height: 100%;}

.downTipBox{position:relative;}
.downTipBox .tip{padding:5px 8px;background:#000;color:#fff;position:absolute;top:28px;left:50%;font-size:12px;border-radius:5px;margin-left:-20px;display: none}
.downTipBox .tip::after{content: '';width:0;height:0;display:block;border-bottom:8px solid #000;border-left:4px solid transparent;border-right:4px solid transparent;position:absolute;top:-8px;left:50%;margin-left:-4px;}
.downTipBox:hover .tip{display:block;}

/* .inputOpacity{width:0;height:0;opacity: 0;} */

.pwdSure_box{width:100%;}
/* .pwdSure_box .selectType_type{width:30%;} */
.pwdSure_box .selectType_content{width:100%;border-left:none;}

.sendInfo_box{width:100%;}
.sendInfo_box ul li{width:100%;overflow: hidden;}
.sendInfo_box ul li h3{width:30%;float: left;text-align:right;padding:5px 5px;font-weight: bold;}
.sendInfo_box ul li span{width:70%;float: left;padding:5px 5px;word-break: break-all;}

.customTxn_box {border-bottom: 1px solid #ddd;padding-bottom:15px;}
.customTxn_box .el-form-item__label {padding: 0;}
.customTxn_box .el-form-item {margin: 0!important;}

.confirmPage{width: 100%;height: 100%;color:#999;}

.isErc20 {position:absolute;top:-5px;right: 0;font-size: 10px;color:#fff;font-style: italic;padding:0 5px;background: #004a7c;border-radius: 5px;transform: scale(0.6);}
.isErc20_1{top: 0px;}

@media (max-width: 1200px) {
  .newwallet_box{width: 100%;}
  
}
.navViewBtn_box{width:40px;height: 40px;line-height: 40px;text-align: center;border: 1px solid #ddd;border-radius: 5px;font-size: 22px;color:#999;position: absolute;top:15px;right: 10px;cursor: pointer;}
@media (max-width: 990px) {
  .supCoinView_container{width: 100%;}
  .selectType_box{flex-wrap: wrap;padding-top:0;}
  /* .selectType_type{display: none;} */
  .selectType_type,.pwdSure_box .selectType_type{width:100%;border-bottom:1px solid #eee;margin-bottom:20px;}
  .selectType_type ul,.pwdSure_box .selectType_type ul{width:100%;text-align:center;display:flex;justify-content:flex-start;flex-wrap: wrap;}
  .selectType_type ul li,.pwdSure_box .selectType_type ul li{width:50%;display:flex;flex-wrap: wrap;}
  .selectType_type ul li .labelStyle,.pwdSure_box .selectType_type ul li .labelStyle {margin:10px 0;}
  .selectType_content{width: 100%;border-left:none;}
  .dappView_list ul li{width:25%;}
  .dappView_list ul li .line{display: block!important}
  .dappView_list ul li:nth-child(4n) .line{display: none!important;}
  /* .dappView_list ul li:nth-last-child(5), .dappView_list ul li:nth-last-child(4){border-bottom: 2px solid #eee;}
  .dappView_list ul li:nth-last-child(1), .dappView_list ul li:nth-last-child(2), .dappView_list ul li:nth-last-child(3){border-bottom: 2px solid transparent;} */
}

@media (max-width: 798px) {
  .headerTop_box{padding:0 15px;}
  .headerTop_setBox ul li{padding-left:15px;}
  .headerTop_setBox ul li:first-child{padding-right:15px;}
  .headerTop_setBox ul li .address{display: none;}
  .headerTop_setBox ul li:first-child .setBtn{width: 16px;}
  .walletBtn_box{padding:30px 0}
  .walletBtn_box ul li{margin: 10px 0;}
  .supCoinView_box{height: auto;padding:0 15px;}
  .supCoinView_list .item:nth-last-child(1), .supCoinView_list .item:nth-last-child(2), .supCoinView_list .item:nth-last-child(3), .supCoinView_list .item:nth-last-child(4){border-bottom: 2px solid #eee;}
  .supCoinView_list .item.col{width:50%;}
  .supCoinView_list .item .line{display:none;}
  .selectType_contentBox,.pwdSure_box .selectType_content{width:90%;}

  .createInfo_input{width: 90%;}

  .contTip_title .title{height:84px}
  #boxContent_box{bottom:0;}
  .navBox{padding-left:0;padding-bottom:54px;}
  .navLeft_box{width:100%;height:54px;overflow:hidden;padding:0;}
  .navLeft_box ul{width:100%;height:100%;display: flex;justify-content: space-between;}
  .navLeft_box ul li{width:25%;margin:0;}
  .navLeft_box ul li .item{width:100%;height:100%;flex-wrap: wrap;justify-content:center;padding:8px 0;font-size: 14px;}
  .navLeft_box ul li .item .icon{margin:0;}
  .navLeft_box ul li .item p{width: 100%;text-align: center;}
  .navLeft_box ul li .router-link-active{border:none;}
  .navLeft_box ul li .currBg{border:none;}
  .contentHeader_box{padding:0 15px;height:50px;}
  .contentHeader_title{font-size:18px;}
  .myAssetsTable_box{padding:10px 15px 20px;}
  .contView_box{top:50px;padding:0 15px;}
  .biticonSelect_box{width:60%;}
  .transferBtn_box{padding:15px;}
  .transferCont_absolute{padding:0 15px;top:126px;}
  .receiveContent_box{padding:0;margin-top: 20px;}
  .receiveAddress_pwd .input{font-size:12px;}
  .backupInfo_top{padding:0 0px 30px;}
  .backupCont_box .backupCont_input .input{font-size:12px;}
  .footerBottom_box{display:none!important;}
  .dappView_list ul li{width:33.3333%;}
  .dappView_list ul li .line{display: block!important}
  .dappView_list ul li:nth-child(3n) .line{display: none!important;}
  .qrcodeView_box ul li{width:100%;margin-bottom: 20px;}
  /* .dappView_list ul li:nth-last-child(5), .dappView_list ul li:nth-last-child(4), .dappView_list ul li:nth-last-child(3){border-bottom: 2px solid #eee;}
  .dappView_list ul li:nth-last-child(1), .dappView_list ul li:nth-last-child(2){border-bottom: 2px solid transparent;} */
  .myAssetsSear_box{padding:10px 15px;}
}

.logoImgVisibleLg{display: block;}
.logoImgVisibleXs{display: none;}
@media (max-width: 660px) {
  .logoImgVisibleLg{display: none;}
  .logoImgVisibleXs{display: block;}
}

@media (max-width: 570px) {
  .dappView_list ul li{width:50%;}
  .dappView_list ul li .line{display: block!important}
  .dappView_list ul li:nth-child(2n) .line{display: none!important;}
}
