.t-news-list-box {
  width: 100%;min-height: 80%;padding: size(0) size(0) size(10); margin:size(0) 0;
  .item {
    width: 100%;border: size(1) solid $color-primary-sm;border-radius: size(8);font-size: $text-normal;color: #333;cursor: pointer;padding:size(30) size(20) size(20);margin-bottom: size(25);overflow: hidden;position: relative;
    .address-box {
      $listH: 40;
      width: 100%;height: size($listH);background: $color-primary-sm;border-radius: size(20);position: relative;
      .addr {
        width: 50%;text-align: center;color:$color-primary;font-size:$text-normal;
        .label {
          color: $color-gray;margin-right: size(5);font-weight: bold;
        }
      }
      .round {
        $rSize: 50;
        width: size($rSize);height: size($rSize);position: absolute;top:size(-($rSize - $listH) / 2);left: 50%;margin-left: size(-$rSize / 2);background: $color-primary;border-radius: 100%;color: #fff;font-size: $text-lg;font-weight: bold;
      }
    }
    .amount-box {
      width: 100%;padding: size(30) 0;border-bottom: size(1) dashed #ddd;
      .amt {
        width: 50%;text-align: center;font-size:$text-normal;color: $color-gray;
        .label {
          color: $color-gray;margin-right: size(5);font-weight: bold;
        }
      }
    }
    .action-box {
      width: 100;padding: size(20) 0 0;
      .at {
        width: 50%;text-align: center;font-size:$text-normal;color: $color-gray;
        .label {
          color: $color-gray;margin-right: size(5);font-weight: bold;
        }
      }
      .btn-primary {
        background: $color-primary;color: #fff;
      }
    }
  }
}